In [2]:
# import libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# reading csv files
df =  pd.read_csv('adult.data', sep=",", header=None, skipinitialspace=True)
df2 = pd.read_csv('adult.test', sep=",", header=None, skipinitialspace=True)

df = pd.concat([df, df2])

df = df.sample(frac=1).reset_index(drop=True)

df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,40,Self-emp-not-inc,406811,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
1,44,Self-emp-inc,79521,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,15024,0,55,United-States,>50K.
2,83,?,251951,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
3,36,Private,69481,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,>50K.
4,20,Private,262749,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,41,Private,124692,Some-college,10,Married-civ-spouse,Exec-managerial,Own-child,White,Male,0,0,40,United-States,>50K
48838,40,Private,153799,1st-4th,2,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Female,0,0,40,Dominican-Republic,<=50K
48839,58,Federal-gov,256466,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,7688,0,40,China,>50K.
48840,39,Private,144169,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
48841,23,Private,214542,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [13]:
#Splitting into x and y, this time taking all values...

x = df.iloc[:, :-1]
y = df.iloc[:, 14]

x.columns['Age', 'Working Class', 'Final Weight', 'Education', 'Education-num', 'Marital-status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Capital-Gain', 'Capital-Loss', 'Hours Per Week', 'Native Country']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices